/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .profile-img img {
    width: 150
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #1E1E1E;
    color: #E6E6E6;
    /* text-shadow: 0px 0px 4px #888; */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  /* Header styles */
  header {
    background-color: #1c1d1d;
    color: white;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 0px 20px #888;
  }
  
  header img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    box-shadow: 0px 0px 10px #888;
  }
  
  header h1 {
    font-size: 4rem;
    margin-top: 1rem;
    text-shadow: 0px 0px 10px #888;
  }
  
  header p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    text-shadow: 0px 0px 4px #888;
  }
  
  /* Section styles */
  section {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #282828;
    box-shadow: 0px 0px 8px #f8bd75;
    transition: all 0.3s ease-in-out;
  }
  
  section:hover {
    box-shadow: 0px 0px 7px #000000;
    transform: translateY(-2px);
  }
  
  section.open {
    height: auto;
    overflow: visible;
    background-color: #404040;
  }
  
  section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-shadow: 0px 0px 2px #888;
    color: #ffb983;
  }
  
  section ul {
    list-style: none;
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #BEBEBE;
  }
  
  section li {
    margin-bottom: 0.5rem;
    text-shadow: 0px 0px 2px #888;
  }
  
  /* Media queries */
  @media (max-width: 767px) {
    header img {
      height: 100px;
      width: 100px;
    }
    
    header h1 {
      font-size: 3rem;
    }
    
    header p {
      font-size: 1.2rem;
    }
    
    section h2 {
      font-size: 2.5rem;
    }
    
    section ul {
      font-size: 1.2rem;
    }
  }
  